# Dependencies
/node_modules
/.pnp
.pnp.*

# Next.js Build
/.next/
/out/
/build

# Local Database & Prisma
/prisma/dev.db
/prisma/dev.db-journal
/lib/generated-prisma

# Environment Secrets
.env
.env.local
.env.production
.env.*.local

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS Clutter
.DS_Store
*.pem
Thumbs.db

# Project Workspace
/.vscode/
/.agent/
/del/
